{% extends 'base.html.twig' %}

{% block title %}
  {{ controller_name }}!{% endblock %}

{% block body %}
  {{ parent() }}
  <main class="row">
    <div class="main-header">
      <h1>
        {{controller_name}}
      </h1>
    </div>
    <section class="col-md-12 row skillz">
      <article class="col-md-6">
        <h2>
          Développement
        </h2>
          <p>HTML</p>
          <div class="container-skillz slideanim">
            <div class="skills html">90%</div>
          </div>

          <p>CSS</p>
          <div class="container-skillz slideanim">
            <div class="skills css">80%</div>
          </div>

          <p>JavaScript</p>
          <div class="container-skillz slideanim">
            <div class="skills html">90%</div>
          </div>

          <p>PHP</p>
          <div class="container-skillz slideanim">
            <div class="skills php">85%</div>
          </div>

          <p>React</p>
          <div class="container-skillz slideanim">
            <div class="skills css">80%</div>
          </div>

          <p>Symfony</p>
          <div class="container-skillz slideanim">
            <div class="skills html">90%</div>
          </div>

          <p>Wordpress</p>
          <div class="container-skillz slideanim">
            <div class="skills html">90%</div>
          </div>

          <p>Sass</p>
          <div class="container-skillz slideanim">
            <div class="skills css">80%</div>
          </div>

          <p>Ionic</p>
          <div class="container-skillz slideanim">
            <div class="skills js">75%</div>
          </div>
      </article>
      <article class="col-md-6">
        <h2>
          Gestion de projet
        </h2>
          <p>Organisation</p>
          <div class="container-skillz slideanim">
            <div class="skills html">90%</div>
          </div>

          <p>Pack office</p>
          <div class="container-skillz slideanim">
            <div class="skills js">75%</div>
          </div>

          <p>Analyses</p>
          <div class="container-skillz slideanim">
            <div class="skills php">85%</div>
          </div>

          <h2>
            Communication
          </h2>
            <p>Stratégie</p>
            <div class="container-skillz slideanim">
              <div class="skills html">90%</div>
            </div>

            <p>Réseaux sociaux</p>
            <div class="container-skillz slideanim">
              <div class="skills html">90%</div>
            </div>

            <p>Suite adobe</p>
            <div class="container-skillz slideanim">
              <div class="skills js">75%</div>
            </div>

            <h2>
              Autre
            </h2>
              <p>UX</p>
              <div class="container-skillz slideanim">
                <div class="skills html">90%</div>
              </div>

              <p>SEO</p>
              <div class="container-skillz slideanim">
                <div class="skills js">75%</div>
              </div>

              <p>Suite Google</p>
              <div class="container-skillz slideanim">
                <div class="skills php">85%</div>
              </div>

      </article>
    </section>
  </main>
  <footer></footer>


{% endblock %}
